<nav class="navbar navbar-expand-lg">
    <!-- <a class="navbar-brand" href="#"><img src="https://media.geeksforgeeks.org/auth/profile/8ceu3jpotjla4m5wpbm7"  alt="Logo" width="30" height="30"></a> -->
    <a class="navbar-brand" href="#">Niranjan's Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/niranjan-h" target="_blank">
              <i class="bi bi-linkedin"></i> LinkedIn
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="mailto:niranjanhari123@gmail.com">
              <i class="bi bi-envelope"></i> Gmail
          </a>
      </li>
      </ul>
    </div>
  </nav>