<div class="block_container">

<div class="container my-5">
<div class="container d-flex justify-content-center align-items-center">
  <div class="card mb-3" style="max-width: 570px; width: 100%;">
      <div class="row">
          <div class="col-md-5">
            <img src="../assets/Niranjan.jpg" class="card-img-top" alt="Niranjan">
          </div>
          <div class="col-md-6">
              <div class="card-body">
                <div class="card-body">
                  <div class="text">
                    <label for="Name" class="fw-bold">Name</label><br>
                    <span>Niranjan H</span>
                </div>
                <div class="text">
                    <label for="Email" class="fw-bold">Email</label><br>
                    <span>niranjanhari123&#64;gmail.com </span>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

<div class="container my-5">
  <!-- Summary Section -->
  <div class="row">
      <div class="col-md-12">
          <h2 class="text-center mb-4">Summary</h2>
          <div class="card">
              <div class="card-body">
                  <p class="card-text">
                    I am a highly motivated and dedicated IT Professional with good DevOps and cloud experience. I
                    possess exceptional communication and interpersonal skills with a proven ability to work
                    independently and as part of a team. I thrive in fast-paced environments and enjoy collaborating with
                    cross-functional teams. I am eager to apply my talents and help achieve its strategic objectives.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Education -->
<app-education></app-education>

</div>