 <!-- Education Timeline -->
 <div class="container my-5">
    <h2 class="text-center mb-4">Education</h2>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-year">2017-2021</div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dayananda Sagar Academy Of Technology and Management,
                        Bengaluru</h5>
                    <p class="card-text">Bachelor's Degree in Information Science</p>
                    <p class="card-text">CGPA- 8.92</p>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-year">2015-2017</div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Jain College, Bengaluru</h5>
                    <p class="card-text">Secondary Education</p>
                    <p class="card-text">Percentage - 94%</p>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-year">2014-2015</div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carmel School, Bengaluru</h5>
                    <p class="card-text">Xth ICSE</p>
                    <p class="card-text">Percentage - 84.33%</p>
                </div>
            </div>
        </div>
    </div>
</div>